<div style="width: 98%; border-radius: 15px; border: #4F4F4F;" class="mx-3 shadow-lg mb-5 bg-body"> 

        <div class="mx-3 mt-4">
            <div class="row">
                <div class="col-3 mt-3">
                    <h1>Room Category List</h1>
                </div>
                <div class="col-6 d-flex form-inputs mt-3" style="text-align: center;">
                    <i class="bi bi-search"></i>
                    <input type="text" [(ngModel)]="filters.search" class="form-control" placeholder="Search Room Categories...." (input)="onFilterChange()">
                </div>
                <div class="col-3 mt-3" style="text-align: right;">
                    <button type="button" class="btn" (click)="navigateToNewRoom()" style="background-color: #570254; color: #FFFFFF;">+ New Category</button>
                </div>
            </div>  
        </div>

        <div style="width: 85%; margin-left: 15%;" class="row mt-4">
            <div class="col-sm-3">
                <select class="form-select" [(ngModel)]="filters.count" (change)="onFilterChange()">
                    <option value="">Guest Count</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            </div>
            <div class="col-sm-3">
                <select class="form-select" [(ngModel)]="filters.priceRange" (change)="onFilterChange()">
                    <option value="">Price Range</option>
                    <option *ngFor="let rate of getPriceRates()" [value]="rate">{{ rate }}</option>
                  </select>
            </div>
            <div class="col-sm-3">
                <select class="form-select" [(ngModel)]="filters.discount" (change)="onFilterChange()">
                    <option value="">Discount</option>
                    <option *ngFor="let rate of getDiscountRates()" [value]="rate">{{ rate }}</option>
                  </select>
            </div>
            <div class="col-sm-3">
                <a class="btn custom-btn" style="margin-left: -40px;" (click)="onReset()">Reset Filters</a>
            </div>
            
        </div>

        <div *ngIf="roomCategory.length == 0" class="mt-4 mb-5" style="text-align: center; padding-bottom: 10px; text-decoration-style: double;"> <h3>There is no any Room Categories now !!</h3></div>

        <div *ngIf="roomCategory.length > 0 && filteredCategory.length == 0" class="mt-4 mb-5" style="text-align: center; padding-bottom: 10px; text-decoration-style: double;"> <h3>There is no any Room Category For this Serching !!</h3></div>

        <div *ngIf="filteredCategory.length > 0">
            <table class="table table-striped mx-3 my-3 mt-4">
                <thead>
                    <tr>
                        <th scope="col" class="text-white">Id</th>
                        <th scope="col" class="text-white">Room Name</th>
                        <th scope="col" class="text-white">Guests(Max)</th>
                        <th scope="col" class="text-white">PricePerRoom</th>
                        <th scope="col" class="text-white">Discount(%)</th>
                        <th scope="col" class="text-white">Discount(LKR)</th>
                        <th scope="col" class="text-white">Edit</th>
                        <th scope="col" class="text-white">Delete</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let room of filteredCategory | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }">
                        <td>{{room.categoryId}}</td>
                        <td>{{room.roomName}}</td>
                        <td style="justify-content: center;">{{room.guestCountMax}}</td>
                        <td>{{room.price | currency: 'LKR' : 'Rs '}}</td>
                        <td>{{room.discountPercentage}}</td>
                        <td>{{room.discountAmount | currency: 'LKR' : 'Rs '}}</td>
                        <td>
                            <button type="button" class="btn" (click)="navigateToUpdate(room.categoryId)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn" (click)="deleteRoom(room.categoryId)">
                                <i class="bi bi-trash-fill" style="color: red;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>    
            </table>
    
            <div class="pagination" style="display: flex; justify-content: flex-end; margin-right: 16px;">
                <pagination-controls
                    class="pagination-right"
                    (pageChange)="onPageChange($event)"
                    (totalItems)="totalItems"
                    (itemsPerPage)="pageSize"
                >
                </pagination-controls>
            </div>
    
        </div>


</div>
