th{
    background-color: #4F4F4F;
}

.form-inputs{
  position:relative;
}
.form-inputs .form-control{
  height:45px; 
  border-radius: 25px;
  box-shadow: inset 0 0 5px #4F4F4F;
}

.form-inputs .form-control:focus{
  box-shadow: inset 0 0 5px #570254;
  border: none;
}

.form-inputs i{
  font-size: 18px;
  position:absolute;
  right:25px;
  top:13px;
}

.form-select{
  width: 85%;
}

a{
  font-size: 16px;
}

.custom-btn:focus{
  box-shadow: 0 8px 6px -6px #570254;
}

.table {
    width: 98%;
  }

.pagination{
    display: flex; 
    justify-content: flex-end; 
    margin-right: 16px;
}

.pagination-right{
    display: flex;
    justify-content: flex-end;
}

.pagination-controls {
    display: inline-block;
    margin-top: 10px;
    background-color: #570254;
    color: #4F4F4F;
  }

  .pagination-right .ngx-pagination {
    display: flex;
    gap: 5px;
  }

  :host ::ng-deep .ngx-pagination .current{
    color: #fefefe;
    background: #570254 !important; 
  }
  
  :host ::ng-deep .pagination-right .pagination-button:hover {
    background-color:#4F4F4F; /* Example: change background color on hover */
  }

  .delete-btn:hover{
    border-color: #b92323;
  }
