.container{
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

h1{
    font-weight: 500;
}

input{
    background-color: #F5F6FA;
}

.btn-update{
    background-color: #570254; 
    color: #FFFFFF;
    width: 100%;
}

.input input::placeholder{
    font-size: 45px;
    color:lightslategray;
}

.password1{
    cursor: pointer;
    position:absolute;
    right: 37%;
    top: 45%;
}

.password2{
    cursor: pointer;
    position:absolute;
    right: 37%;
    top: 59%;
}
