<div>
    <div>
        <h3 class="my-4 text-center">Preferable Room Types</h3>

        <div class="row mx-2">
            <div class="col-md-2">
                <div class="text-center" style="margin-top: 75%;">
                    <button style="background-color: white; border: none;"><i class="bi bi-chevron-left" style="font-size: 25px;"></i></button>
                </div>
            </div>

            <div class="col-md-8">
                <div style="background-color: #9E2222; border-radius: 10px;">
                    <div>
                        <div style="border-radius: 18px; background-color: #9E2222;">
                            <img src="../../../assets/images/roomImage.jpg" style="object-fit: cover; height: 300px; width: 100%; border-radius: 18px; border-top-left-radius: 10px; border-top-right-radius: 10px;" >
                        </div>
                        <p class="text-center text-white my-3" style="font-size: 21px;">A/C Room</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="text-center" style="margin-top: 75%;">
                    <button style="background-color: white; border: none;"><i class="bi bi-chevron-right" style="font-size: 25px;"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3 class="my-4 text-center">Activities</h3>

        <div class="row mx-2">
            <div class="col-md-2">
                <div class="text-center" style="margin-top: 75%;">
                    <button style="background-color: white; border: none;"><i class="bi bi-chevron-left" style="font-size: 25px;"></i></button>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-4">
                        <div style="background-color: #9E2222; border-radius: 10px;">
                            <div>
                                <div style="border-radius: 18px; background-color: #9E2222;">
                                    <img src="../../../assets/images/roomImage.jpg" style="object-fit: cover; height: 300px; width: 100%; border-radius: 18px; border-top-left-radius: 10px; border-top-right-radius: 10px;" >
                                </div>
                                <p class="text-center text-white my-3">A/C Room</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div style="background-color: #9E2222; border-radius: 10px;">
                            <div>
                                <div style="border-radius: 18px; background-color: #9E2222;">
                                    <img src="../../../assets/images/roomImage.jpg" style="object-fit: cover; height: 300px; width: 100%; border-radius: 18px; border-top-left-radius: 10px; border-top-right-radius: 10px;" >
                                </div>
                                <p class="text-center text-white my-3">A/C Room</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div style="background-color: #9E2222; border-radius: 10px;">
                            <div>
                                <div style="border-radius: 18px; background-color: #9E2222;">
                                    <img src="../../../assets/images/roomImage.jpg" style="object-fit: cover; height: 300px; width: 100%; border-radius: 18px; border-top-left-radius: 10px; border-top-right-radius: 10px;" >
                                </div>
                                <p class="text-center text-white my-3">A/C Room</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-2">
                <div class="text-center" style="margin-top: 75%;">
                    <button style="background-color: white; border: none;"><i class="bi bi-chevron-right" style="font-size: 25px;"></i></button>
                </div>
            </div>
            
        </div>
    </div>

    <div>
        <!-- <div *ngIf="act.activityPics && act.activityPics.length > 0">
            <p>Pictures {{act.activityName}}</p>
            <img src="act.activityPics[0].picValue"/>
        </div> -->
        <app-new-activity></app-new-activity>
    </div>
</div>
