<div>
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3 class="footer-title">Seaway Hotel</h3>
              <p class="text-white">Description of your hotel or business here.</p>
            </div>
            <div class="col-md-4">
              <h3 class="footer-title">Contact Us</h3>
              <ul class="list-unstyled text-white">
                <li>
                  <a href="mailto:contact@seawayhotel.com" style="font-size: 22px; color: white;">contact@seawayhotel.com</a>
                </li>
                <li>
                  <p>+1 (234) 567-890</p>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3 class="footer-title">Follow Us</h3>
              <ul class="list-inline social-media">
                <li class="list-inline-item px-2">
                  <a href="#">
                    <i class="bi bi-instagram" style="font-size: 40px; color: white;"></i>
                  </a>
                </li>
                <li class="list-inline-item px-2">
                  <a href="#">
                    <i class="bi bi-facebook" style="font-size: 40px; color: white;"></i>
                  </a>
                </li>
                <li class="list-inline-item px-2">
                  <a href="#">
                    <i class="bi bi-whatsapp" style="font-size: 40px; color: white;"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <p class="copyright text-center text-white">&copy; 2024 Seaway Hotel. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </footer>
</div>
