<div>
    <div  class="mt-5 mb-5">
        <h1>Welcome {{ currentUser.username }}</h1>
        <div class="row mb-4" style="text-align: center; width: 80%;" >
            <div class="col" style="text-align: right; margin-left: 20%;">
                <button type="button" class="btn btn-danger" (click)="navigateToRooms()">
                    <div>
                        <div><img src="../../../../assets/images/homeImage.jpg"></div>
                        <h2>Rooms</h2>
                    </div>
                </button>
            </div>
            <div class="col" style="text-align: left;">
                <button type="button" class="btn btn-danger" (click)="navigateToActivities()"> 
                    <div>
                        <div><img src="../../../../assets/images/homeImage.jpg"></div>
                        <h2>Activities</h2>
                    </div>
                </button>
            </div>
        </div>

        <div class="row" style="text-align: center; width: 80%;">
            <div class="col" style=" text-align: right; margin-left: 20%;">
                <button type="button" class="btn btn-danger">
                    <div>
                        <div><img src="../../../../assets/images/homeImage.jpg"></div>
                        <h2>Offers</h2>
                    </div>
                </button>
            </div>
            <div class="col" style=" text-align: left;">
                <button type="button" class="btn btn-danger">
                    <div>
                        <div><img src="../../../../assets/images/homeImage.jpg"></div>
                        <h2>Packages</h2>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
