<div>
    <h1>Upload Images</h1>

    <ngx-dropzone (change)="onSelect($event)">

        <ngx-dropzone-label>Drag and Drop Images</ngx-dropzone-label>

        <ngx-dropzone-preview *ngFor="let file of files" [removable]="true" (removed)="onRemove(file)">
            <ngx-dropzone-label> {{file.name}} {{file.type}} </ngx-dropzone-label>
        </ngx-dropzone-preview>

    </ngx-dropzone>

    <button (click)="uploadImage()">Upload</button>

    <div *ngIf="imageVisible">
        <img [src]="image">
    </div>
</div>
