.container{
    height: 100%;
    width: 100%;
    padding-top: 80px;
}

h1{
    font-weight: 500;
}

span{
    color: gray;
}

input{
    background-color: #F5F6FA;
}

input::placeholder{
    font-size: 14px;
    color: lightslategray;
}

.btn-continue{
    background-color: #570254; 
    color: #FFFFFF;
    width: 100%;
}