<div style="width: 98%; border-radius: 15px; border: #4F4F4F;" class="mx-3 shadow-lg mb-5 bg-body"> 

        <div class="mx-3 mt-4">
            <div class="row">
                <div class="col-3 mt-3">
                    <h2>Room List</h2>
                </div>
                <div class="col-6 d-flex form-inputs mt-3" style="text-align: center;">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control" placeholder="Search Rooms....">
                </div>
                <div class="col-3 mt-3" style="text-align: right;">
                    <button type="button" class="btn" (click)="navigateToNewRoom()" style="background-color: #570254; color: #FFFFFF;">+ New</button>
                </div>
            </div>  
        </div>

        <div style="width: 85%; margin-left: 15%;" class="row mt-4">
            <div class="col-sm-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Guest Count</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                  </select>
            </div>
            <div class="col-sm-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Price</option>
                    <option value="1">Below 3000</option>
                    <option value="2">3000 - 5000</option>
                    <option value="3">5000 - 10000</option>
                    <option value="4">Above 10000</option>
                  </select>
            </div>
            <div class="col-sm-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Discount</option>
                    <option value="1">Below 5%</option>
                    <option value="2">5% - 10%</option>
                    <option value="3">10% - 20%</option>
                  </select>
            </div>
            <div class="col-sm-3">
                <a class="btn custom-btn" style="margin-left: -40px;">Reset Filters</a>
            </div>
            
        </div>

        <div *ngIf="rooms.length == 0" class="mt-4 mb-5" style="text-align: center;"> <h3>There is no any Rooms now !!</h3></div>

        <div *ngIf="rooms.length > 0">
            <table class="table table-striped mx-3 my-3 mt-4">
                <thead>
                    <tr>
                        <th scope="col" class="text-white">Id</th>
                        <th scope="col" class="text-white">Room Name</th>
                        <th scope="col" class="text-white">Guests(Max)</th>
                        <th scope="col" class="text-white">PricePerRoom</th>
                        <th scope="col" class="text-white">Discount(%)</th>
                        <th scope="col" class="text-white">Discount(LKR)</th>
                        <!-- <th scope="col" class="text-white">Active</th> -->
                        <th scope="col" class="text-white">Edit</th>
                        <th scope="col" class="text-white">Delete</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let room of rooms | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: rooms.length }">
                        <td>{{room.roomId}}</td>
                        <td>{{room.roomName}}</td>
                        <td style="justify-content: center;">{{room.guestCountMax}}</td>
                        <td>{{room.price | currency: 'LKR' : 'Rs '}}</td>
                        <td>{{room.discountPercentage}}</td>
                        <td>{{room.discountAmount | currency: 'LKR' : 'Rs '}}</td>
                        <!-- <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div>
                        </td> -->
                        <td>
                            <button type="button" class="btn" (click)="navigateToUpdate(room.roomId)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn" (click)="deleteRoom(room.roomId)">
                                <i class="bi bi-trash-fill" style="color: red;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>    
            </table>
    
            <div class="pagination" style="display: flex; justify-content: flex-end; margin-right: 16px;">
                <pagination-controls
                    class="pagination-right"
                    (pageChange)="onPageChange($event)"
                    (totalItems)="rooms.length"
                    (itemsPerPage)="pageSize"
                >
                </pagination-controls>
            </div>
    
        </div>


</div>
