th{
    background-color: #9E2222;
}

.table {
    width: 98%;
  }

.pagination{
    display: flex; 
    justify-content: flex-end; 
    margin-right: 16px;
}

.pagination-right{
    display: flex;
    justify-content: flex-end;
}

.pagination-controls {
    display: inline-block;
    margin-top: 10px;
  }

  .pagination-right .ngx-pagination {
    display: flex;
    gap: 5px;
  }

  ::ng-deep .pagination-controls a{
    color: purple;
    background-color: white;
  }
  
  .pagination-right .pagination-button:hover {
    background-color: purple; /* Example: change background color on hover */
  }