.container{
    height: 100%;
    width: 100%;
    padding-top: 120px;
}

h1{
    font-weight: 500;
}

input{
    background-color: #F5F6FA;
}

input::placeholder{
    font-size: 14px;
    color: lightslategray;
}

.custom-check{
    width: 15px;
    height: 15px;
}

.btn-login{
    background-color: #570254; 
    color: #FFFFFF;
    width: 100%;
}

.input i{
    cursor: pointer;
    position:absolute;
    right: 36%;
    top: 65%;
}

.input input::placeholder{
    font-size: 45px;
    color:lightslategray;
}

.forgot-password{
    text-align: right; 
    text-decoration: none; 
    color: black;
    cursor: pointer;
}

.forgot-password:hover{
    text-decoration: underline #570254;
    color: #570254;
}