<div class="container">
    <div>

        <form style="margin-left: 30%; margin-right: 30%; border-radius: 40px;" class="shadow-lg p-4 mb-5 bg-body" [formGroup]="loginForm">

            <div class="mt-4 mb-4" style="width: 93%; margin-left: 5%;">
                <div style="text-align: center; margin-top: 5%; padding-bottom: 6%; ">
                    <h1>Login to Account</h1>
                    <p>Please enter your username and password to continue</p>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12 mb-3" style="text-align: right;">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1" style="padding-left: 4px;">Login as Admin</label>
                    </div>

                  </div>

                <div class="row" style="padding-top: 10px; padding-bottom: 15px;">
                    <div class="col-md-12 mb-3">
                        <label for="username"  class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="SeawayHotel" required >
                        <!-- <div 
                        *ngIf="activityForm.controls['activityName'].invalid && (activityForm.controls['activityName'].dirty || activityForm.controls['activityName'].touched)" 
                        class="alert p-0 mb-0" >
                          <div *ngIf="activityForm.controls['activityName']?.errors?.['required']">
                            Please enter activity name
                          </div>
                        </div> -->
                    </div>

                  </div>

                  <div class="row" style="padding-top: 10px; padding-bottom: 15px; ">
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <label for="description"  class="form-label col-7">Password</label>
                            <a class="col-5 forgot-password">Forgot Password?</a>
                        </div>
                        <diV class="input">
                            <input type="text" class="form-control" id="activityName" placeholder="........." required >
                            <i (click)="passwordVisible()" [ngClass]="visible? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill' "></i>
                        </diV>

                    <!-- <div 
                        *ngIf="activityForm.controls['description'].invalid && (activityForm.controls['description'].dirty || activityForm.controls['description'].touched)" 
                        class="alert p-0 mb-0" >
                          <div *ngIf="activityForm.controls['description']?.errors?.['required']">
                            Please enter the description
                          </div>
                        </div> -->
                    </div>

                  </div>
        
                <div class="row" >
                    <div class="col-md-12" style="padding-top: 25px;">
                        <button type="button" class="btn btn-login">Sign In</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
