.container{
    width: 63%;
    border-radius: 10px;
    margin-top: 2%;
    display: block;
}

h1{
    background-color: #4F4F4F;
    color: #FFFFFF;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    font-size: 26px;
}

input{
    background-color: #F5F6FA;
}

span, .alert{
    color: #EE0004;
}

.upload-field {
    border: none;
    border-radius: 60px; /* Optional: Rounded corners */
    padding-top: 5px;
    overflow: hidden;
}

.btn-reset{
    background-color: #FCBE2D;
}

.prof-pic{
    margin-left: 40%;
    width: 200px;
    height: 200px;
}

img {
    height: 170px;
    width: 170px;
    object-fit: fill;
  }
