<div>
    <div class="container shadow p-3 mb-5 bg-body rounded">

        <form class="row g-3" [formGroup]="managerForm">
            <div class="mt-4 mb-4" style="width: 90%; margin-left: 5%;">

                <div>
                    <h1>{{ updateMode ? 'Update Manager' : 'Create Manager'}}</h1>
                </div>

                <div class="mb-3 row prof-pic">
                    <ngx-dropzone (change)="onSelectProfilePic($event)" class="upload-field">
                        <img [src]="profilePic" alt="Profile Picture" class="profile-pic">
                    </ngx-dropzone> 
                    <div *ngIf="fileSize > 0" class="dropzone-label">
                        <div>
                          <ngx-dropzone-label> {{file.name}} 
                            <i class="bi bi-x" (click)="onRemove()" style="cursor: pointer;"></i> 
                          </ngx-dropzone-label>
                        </div>
                    </div>                   
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-12 mb-3" style="text-align: right;">
                        <input type="checkbox" class="form-check-input" id="isAdmin" id="isAdmin" formControlName="isAdmin">
                        <label class="form-check-label" for="isAdmin" style="padding-left: 4px;">Login as Admin</label>
                    </div>
                </div>

                <div class="row mb-3" style="padding-top: 10px;">
                    <div class="col-md-12">
                        <label for="username"  class="form-label">Username<span>*</span></label>
                        <input type="text" class="form-control" id="username" placeholder="Username" required formControlName="username">
                        <div 
                        *ngIf="managerForm.controls['username'].invalid && (managerForm.controls['username'].dirty || managerForm.controls['username'].touched)" 
                        class="alert p-0 mb-0" >
                          <div *ngIf="managerForm.controls['username']?.errors?.['required']">
                            Please enter user name
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3" style="padding-top: 15px;" *ngIf="!updateMode">
                    <div class="col-md-12">
                        <label for="password"  class="form-label">Password<span>*</span></label>
                        <input type="text" class="form-control" id="password" placeholder="password" required formControlName="password">
                        <span style="color: gray;">(Password should be minimum 6 characters and maximum 8 characters)</span>
                        <div 
                        *ngIf="managerForm.controls['password'].invalid && (managerForm.controls['password'].dirty || managerForm.controls['password'].touched)" 
                        class="alert p-0 mb-0" >
                          <div *ngIf="managerForm.controls['password']?.errors?.['required']">
                            Please enter valid password
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3" style="padding-top: 15px; padding-bottom: 10px;" *ngIf="!updateMode">
                    <div class="col-md-12">
                        <label for="co-password"  class="form-label">Confirm Password<span>*</span></label>
                        <input type="text" class="form-control" id="co-password" placeholder="confirm password" required formControlName="confirmPassword">
                        <span style="color: gray;">(Password should be minimum 6 characters and maximum 8 characters)</span>
                        <div 
                        *ngIf="managerForm.invalid && (managerForm.controls['confirmPassword'].dirty || managerForm.controls['confirmPassword'].touched) && managerForm.controls['confirmPassword'].value" 
                        class="alert p-0 mb-0" >
                          <div *ngIf="managerForm.errors?.['mismatch']">
                            Please enter correct password
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3" style="padding-top: 10px;" *ngIf="updateMode">
                    <div class="col-md-6">
                        <label for="createdBy"  class="form-label">Created By : </label>
                        <input class="form-control readonly-field" id="createdBy" formControlName="createdBy" readonly>
                    </div>

                    <div class="col-md-6">
                        <label for="created"  class="form-label">Created : </label>
                        <input class="form-control readonly-field" id="created" formControlName="created" readonly>
                    </div>
                </div>

                <div class="row mb-3" style="padding-top: 10px;" *ngIf="updateMode">
                    <div class="col-md-6">
                        <label for="updatedBy"  class="form-label">Updated By : </label>
                        <input class="form-control readonly-field" id="updatedBy" formControlName="updatedBy" readonly>
                    </div>

                    <div class="col-md-6">
                        <label for="updated"  class="form-label">Updated : </label>
                        <input class="form-control readonly-field" id="updated" formControlName="updated" readonly>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3">
                        <button type="button" class="btn" (click)="redirectToBack()" style="background-color: #570254; color: #FFFFFF;">
                            <i class="bi bi-arrow-left-short"></i>
                            Back</button> 
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button *ngIf="updateMode == false" type="button" class="btn btn-reset" (click)="resetForm()">Reset</button>
                        <button style="background-color: #570254; color: #FFFFFF; margin-left: 25px;" type="button" class="btn" (click)="addManager()" [disabled]="managerForm.invalid && !updateMode">
                            {{updateMode ? 'Update' : 'Create'}}
                        </button>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>
