<div style="width: 98%; border-radius: 15px; border: #4F4F4F;" class="mx-3 shadow-lg mb-5 bg-body"> 

    <div class="mx-3 mt-4">
        <div class="row">
            <div class="col-3 mt-3">
                <h1>Activity List</h1>
            </div>
            <div class="col-6 d-flex form-inputs mt-3" style="text-align: center;">
                <i class="bi bi-search"></i>
                <input type="text" [(ngModel)]="search" class="form-control" (input)="onSearch()" placeholder="Search Activities....">
            </div>
            <div class="col-3 mt-3" style="text-align: right;">
                <button type="button" class="btn" (click)="navigateToAddActivity()" style="background-color: #570254; color: #FFFFFF;">+ New Activity</button>
            </div>
        </div>  
    </div>

    <div class="mt-4 mb-5" style="text-align: center;" *ngIf="activities.length == 0"> <h3>There is no any Activities here now !!</h3></div>

    <div *ngIf="filteredActivities.length > 0">
        <table class="table table-striped mx-3 my-3 mt-4">
            <thead>
                <tr>
                    <th scope="col" class="text-white">Id</th>
                    <th scope="col" class="text-white">Activity Name</th>
                    <th scope="col" class="text-white">Description</th>
                    <th scope="col" class="text-white"></th>
                    <th scope="col" class="text-white">Active</th>
                    <th scope="col" class="text-white">Edit</th>
                    <th scope="col" class="text-white">Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let act of filteredActivities | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: activities.length }">
                    <td>{{act.activityId}}</td>
                    <td>{{act.activityName}}</td>
                    <td colspan="2">{{act.description}}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="act.isActive" (ngModelChange)="onChange(act)">
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn edit-btn" (click)="navigateToUpdatePage(act.activityId)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn delete-btn" (click)="deleteActivity(act.activityId)">
                            <i class="bi bi-trash-fill" style="color: #EE0004"></i>
                        </button>
                    </td>
                </tr>
            </tbody>    
        </table>

        <div class="pagination" style="display: flex; justify-content: flex-end; margin-right: 16px;">
            <pagination-controls
                class="pagination-right"
                (pageChange)="onPageChange($event)"
                (totalItems)="activities.length"
                (itemsPerPage)="pageSize"
            >
            </pagination-controls>
        </div>

    </div>


</div>

