<div>
    <nav class="navbar" *ngIf="canDisplay">
        <div class="col-7" >
            <a class="navbar-brand mb-0 ms-5 h1 text-white" href="#"> 
                SEAWAY HOTEL
            </a>
        </div>
        <div class="col-5" >
            <a class="navbar-brand mx-5 text-white" routerLink="rooms" routerLinkActive="active">Rooms</a>
            <a class="navbar-brand mx-5 text-white" href="#">Offers</a>
            <a class="navbar-brand mx-5 text-white" href="#">About</a>
            <a class="navbar-brand mx-5 text-white" href="#">Contact</a>
        </div>

    </nav>

    <nav class="navbar" *ngIf="canDisplay">
        <div style="text-align: center;">
            <img src="../../../assets/images/hotel logo.png" style="width: 90px; height: 80px;">
            <h2>seaway hotel</h2>
        </div>
    </nav>
</div>
