.container{
    width: 70%;
    border-radius: 10px;
    margin-top: 2%;
    display: block;
}

h1{
    background-color: #656464;
    /*background-color: #4F4F4F;*/
    color: #FFFFFF;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
}

input, ngx-dropzone{
    background-color: #F5F6FA;
}

span, .alert{
    color: red;
}

.upload-field {
    border: 1px dotted #ccc; /* Light gray border */
    border-radius: 5px; /* Optional: Rounded corners */
    padding: 10px; /* Optional: Add padding for better appearance */
}

.image-container{
    width: 180px;
    overflow-x: hidden; /* Hide overflow */
}

.image-container p {
    display: inline-block; /* Make text fit container width */
    vertical-align: middle; /* Align text vertically */
  }

img[title] {
    cursor: pointer; /* Optional hover cursor */
  }

.btn-reset{
    background-color: #FCBE2D;
}